<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Services.Host.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\HarmonyCore" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="SYNERGYLICENSESERVER" value="localhost" />
          <environmentVariable name="ASPNETCORE_LOG_LEVEL" value="4" />
          <environmentVariable name="HARMONY_CORE_LOG_LEVEL" value="4" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>